{
 "Abrade" "HOU:83"
 "Abrupt Decay" "RTR:141"
 "Abundant Countryside" "ECC:22"
 "Aether Spellbomb" "MRD:141"
 "Aether Vial" "DST:91"
 "Agadeem's Awakening" "ZNR:90"
 "Ajani, Nacatl Pariah" "MH3:237"
 "Amped Raptor" "MH3:114"
 "Ancient Tomb" "TMP:315"
 "Anger" "JUD:77"
 "Arid Mesa" "ZEN:211"
 "Ashen Rider" "THS:187"
 "Atraxa, Grand Unifier" "ONE:196"
 "Back to Basics" "USG:62"
 "Badgermole Cub" "TLA:167"
 "Badlands" "LEA:277"
 "Balustrade Spy" "GTC:57"
 "Barrowgoyf" "M3C:50"
 "Batterskull" "NPH:130"
 "Bayou" "LEA:278"
 "Beseech the Mirror" "WOE:82"
 "Birds of Paradise" "LEA:186"
 "Blood Moon" "DRK:58"
 "Bloodstained Mire" "ONS:313"
 "Boggart Trawler" "MH3:243"
 "Bojuka Bog" "WWK:132"
 "Boomerang Basics" "TLA:46"
 "Boseiju, Who Endures" "NEO:266"
 "Brainstorm" "ICE:61"
 "Brazen Borrower" "ELD:39"
 "Breakthrough" "TOR:26"
 "Bridge from Below" "FUT:81"
 "Broadside Bombardiers" "LCC:54"
 "Burning Wish" "JUD:83"
 "Cabal Ritual" "TOR:51"
 "Cabal Therapy" "JUD:62"
 "Candelabra of Tawnos" "ATQ:43"
 "Carpet of Flowers" "USG:240"
 "Cavern of Souls" "AVR:226"
 "Cephalid Coliseum" "ODY:317"
 "Chain of Vapor" "ONS:73"
 "Chalice of the Void" "MRD:150"
 "Chaos Defiler" "40K:110"
 "Chrome Mox" "MRD:152"
 "City of Traitors" "EXO:143"
 "Clarion Conqueror" "TDM:5"
 "Collector Ouphe" "MH1:158"
 "Commercial District" "MKM:259"
 "Confusion in the Ranks" "MRD:87"
 "Consider" "MID:44"
 "Consign to Memory" "MH3:54"
 "Containment Priest" "C14:5"
 "Cori-Steel Cutter" "TDM:103"
 "Craterhoof Behemoth" "AVR:172"
 "Crop Rotation" "ULG:98"
 "Cryptic Coat" "MKM:50"
 "Cunning Wish" "JUD:37"
 "Damping Sphere" "DOM:213"
 "Dark Depths" "CSP:145"
 "Dark Ritual" "LEA:98"
 "Daze" "NEM:30"
 "Dead/Gone" "PLC:113"
 "Deafening Silence" "ELD:10"
 "Debt to the Deathless" "DGM:64"
 "Devourer of Destiny" "MH3:2"
 "Dismember" "NPH:57"
 "Disruptor Flute" "MH3:209"
 "Doomsday" "WTH:66"
 "Dragon's Rage Channeler" "MH2:121"
 "Dread Return" "TSP:104"
 "Dress Down" "PMH2:39s"
 "Dryad Arbor" "FUT:174"
 "Duress" "USG:132"
 "Echo of Eons" "MH1:46"
 "Echoing Truth" "DST:21"
 "Edge of Autumn" "FUT:144"
 "Eldrazi Linebreaker" "MH3:117"
 "Eldrazi Temple" "ROE:227"
 "Elegant Parlor" "MKM:260"
 "Elvish Spirit Guide" "ALL:89"
 "Empty the Warrens" "TSP:152"
 "Emrakul, the Aeons Torn" "ROE:4"
 "Emry, Lurker of the Loch" "ELD:43"
 "Endurance" "PMH2:157s"
 "Engineered Explosives" "5DN:118"
 "Ensnaring Bridge" "STH:133"
 "Eureka" "LEG:185"
 "Expedition Map" "ZEN:201"
 "Exploration" "USG:250"
 "Extract" "ODY:85"
 "Eye of Ugin" "WWK:136"
 "Fable of the Mirror-Breaker" "NEO:141"
 "Faerie Macabre" "SHM:66"
 "Faithless Looting" "DKA:87"
 "Fatal Push" "F17:8"
 "Fell the Profane" "MH3:244"
 "Fiery Confluence" "C15:26"
 "Fire Magic" "FIN:136"
 "Firemind's Foresight" "RTR:162"
 "Flame of Anor" "LTR:203"
 "Flickerwisp" "EVE:6"
 "Flooded Strand" "ONS:316"
 "Flusterstorm" "CMD:46"
 "Force of Negation" "MH1:52"
 "Force of Vigor" "MH1:164"
 "Force of Will" "ALL:28"
 "Forest" "LEA:294"
 "Forth Eorlingas!" "LTC:56"
 "Fury" "PMH2:126s"
 "Gaddock Teeg" "LRW:248"
 "Gaea's Cradle" "JGP:3"
 "Gaea's Will" "PMH2:162s"
 "Galvanic Relay" "MH2:127"
 "Gamble" "USG:188"
 "Gemstone Caverns" "TSP:274"
 "Ghost Quarter" "DIS:173"
 "Glaring Fleshraker" "MH3:7"
 "Goblin Bombardment" "TMP:179"
 "Goblin Charbelcher" "MRD:176"
 "Goblin Engineer" "MH1:128"
 "Goblin Welder" "ULG:80"
 "Golgari Grave-Troll" "RAV:167"
 "Golgari Thug" "RAV:87"
 "Grafdigger's Cage" "DKA:149"
 "Great Furnace" "MRD:282"
 "Green Sun's Zenith" "MBS:81"
 "Grim Monolith" "ULG:126"
 "Grindstone" "TMP:290"
 "Grist, the Hunger Tide" "PMH2:202s"
 "Guide of Souls" "MH3:29"
 "Haywire Mite" "BRO:199"
 "Hedge Maze" "MKM:262"
 "Hexing Squelcher" "ECL:145"
 "Hogaak, Arisen Necropolis" "MH1:202"
 "Hydroblast" "ICE:72"
 "Ignoble Hierarch" "PMH2:166s"
 "Into the Flood Maw" "BLB:52"
 "Intuition" "TMP:70"
 "Island" "LEA:288"
 "Jace, the Mind Sculptor" "WWK:31"
 "Jack-o'-Lantern" "MID:254"
 "Kaito, Bane of Nightmares" "PDSK:220p"
 "Kappa Cannoneer" "NEC:14"
 "Karakas" "LEG:303"
 "Karn, the Great Creator" "WAR:1"
 "Kinscaer Sentry" "ECL:22"
 "Kiora's Dismissal" "JOU:44"
 "Kozilek's Command" "MH3:11"
 "Lair of the Hydra" "AFR:259"
 "Lavaspur Boots" "OTJ:243"
 "Lavinia, Azorius Renegade" "RNA:189"
 "Lazotep Quarry" "M3C:79"
 "Legion's Landing" "XLN:22"
 "Leyline Binding" "DMU:24"
 "Leyline of the Void" "GPT:52"
 "Life from the Loam" "RAV:172"
 "Lightning Bolt" "LEA:161"
 "Lion Sash" "NEO:26"
 "Lion's Eye Diamond" "MIR:307"
 "Liquimetal Coating" "SOM:171"
 "Lively Dirge" "OTJ:93"
 "Loch Mare" "ECL:57"
 "Lotleth Giant" "GRN:74"
 "Lotus Petal" "TMP:294"
 "Magus of the Moon" "FUT:101"
 "Malevolent Rumble" "MH3:161"
 "Manifold Key" "M20:230"
 "Marsh Flats" "ZEN:219"
 "Maze of Ith" "DRK:117"
 "Meltdown" "USG:203"
 "Memory's Journey" "ISD:66"
 "Meteor Sword" "TLA:258"
 "Meticulous Archive" "MKM:264"
 "Mindbreak Trap" "ZEN:57"
 "Mishra's Bauble" "CSP:138"
 "Mishra's Research Desk" "BRO:162"
 "Mistrise Village" "TDM:261"
 "Misty Rainforest" "ZEN:220"
 "Mountain" "LEA:292"
 "Mox Diamond" "STH:138"
 "Mox Opal" "SOM:179"
 "Murktide Regent" "PMH2:52s"
 "Mycosynth Lattice" "DST:130"
 "Mystic Forge" "M20:233"
 "Mystic Sanctuary" "ELD:247"
 "Mystical Dispute" "ELD:58"
 "Narcomoeba" "FUT:54"
 "Natural Order" "VIS:114"
 "Nature's Claim" "WWK:108"
 "Nihil Spellbomb" "SOM:187"
 "Null Rod" "WTH:154"
 "Ocelot Pride" "MH3:38"
 "Omniscience" "M13:63"
 "Once Upon a Time" "ELD:169"
 "Orcish Bowmasters" "PLTR:103s"
 "Otawara, Soaring City" "NEO:271"
 "Otherworldly Gaze" "MID:67"
 "Overlord of the Balemurk" "PDSK:113s"
 "Ox of Agonas" "THB:147"
 "Painter's Servant" "SHM:257"
 "Paradox Engine" "MPS:43"
 "Patchwork Automaton" "NEO:254"
 "Path to Exile" "CON:15"
 "Perilous Snare" "DFT:23"
 "Personal Tutor" "POR:64"
 "Phelia, Exuberant Shepherd" "MH3:40"
 "Phyrexian Dragon Engine" "BRO:163"
 "Pinnacle Emissary" "EOE:223"
 "Pithing Needle" "SOK:158"
 "Plains" "LEA:286"
 "Planar Genesis" "MH3:198"
 "Planar Nexus" "M3C:80"
 "Plateau" "LEA:279"
 "Polluted Delta" "ONS:321"
 "Ponder" "LRW:79"
 "Portable Hole" "AFR:33"
 "Poxwalkers" "40K:49"
 "Pre-War Formalwear" "PIP:21"
 "Price of Progress" "EXO:95"
 "Prismatic Ending" "MH2:25"
 "Prismatic Vista" "MH1:244"
 "Progenitus" "CON:121"
 "Pyroblast" "ICE:213"
 "Pyrogoyf" "M3C:59"
 "Quantum Riddler" "EOE:72"
 "Raucous Theater" "MKM:266"
 "Ravenous Trap" "ZEN:109"
 "Reality Smasher" "OGW:7"
 "Reanimate" "TMP:151"
 "Recruiter of the Guard" "CN2:22"
 "Red Elemental Blast" "LEA:169"
 "Release the Ants" "MOR:98"
 "Reverent Silence" "NEM:111"
 "Ruination" "STH:95"
 "Runehorn Hellkite" "C16:20"
 "Sand Scout" "OTC:11"
 "Savannah" "LEA:280"
 "Scalding Tarn" "ZEN:223"
 "Scrubland" "LEA:281"
 "Seat of the Synod" "MRD:283"
 "Sejiri Steppe" "WWK:142"
 "Shadowspear" "THB:236"
 "Shadowy Backstreet" "MKM:268"
 "Shared Summons" "M20:193"
 "Shattering Spree" "GPT:75"
 "Shatterskull Smashing" "ZNR:161"
 "Shenanigans" "MH1:146"
 "Sheoldred's Edict" "ONE:108"
 "Show and Tell" "USG:96"
 "Simian Spirit Guide" "PLC:122"
 "Sink into Stupor" "MH3:241"
 "Sire of Seven Deaths" "FDN:1"
 "Skyclave Apparition" "ZNR:39"
 "Snapcaster Mage" "ISD:78"
 "Sneak Attack" "USG:218"
 "Snuff Out" "MMQ:162"
 "Solitude" "PMH2:32s"
 "Song of Creation" "IKO:210"
 "Soul-Guide Lantern" "THB:237"
 "Split Up" "PDSK:32s"
 "Springheart Nantuko" "MH3:171"
 "Staff of the Storyteller" "ONC:10"
 "Static Prison" "MH3:44"
 "Stern Scolding" "LTR:71"
 "Stifle" "SCG:52"
 "Stinkweed Imp" "RAV:107"
 "Stock Up" "DFT:67"
 "Stoneforge Mystic" "WWK:20"
 "Stony Silence" "ISD:36"
 "Stormchaser's Talent" "BLB:75"
 "Street Wraith" "FUT:90"
 "Sublime Epiphany" "M21:74"
 "Sunbaked Canyon" "MH1:247"
 "Sundering Eruption" "MH3:248"
 "Suplex" "FIN:164"
 "Surgical Extraction" "PNPH:74★"
 "Swamp" "LEA:290"
 "Swords to Plowshares" "LEA:40"
 "Sylvan Safekeeper" "JUD:133"
 "Taiga" "LEA:282"
 "Talon Gates of Madara" "M3C:82"
 "Tamiyo, Inquisitive Student" "MH3:242"
 "Tendrils of Agony" "SCG:75"
 "Tezzeret, Cruel Captain" "EOE:2"
 "Thassa's Oracle" "THB:73"
 "The One Ring" "PLTR:246s"
 "The Tabernacle at Pendrell Vale" "LEG:307"
 "Thespian's Stage" "GTC:248"
 "Thought-Knot Seer" "OGW:9"
 "Thoughtseize" "LRW:145"
 "Thundertrap Trainer" "BLB:78"
 "Tormod's Crypt" "DRK:112"
 "Toxic Deluge" "C13:96"
 "Toxicrene" "40K:101★"
 "Triumph of Saint Katherine" "40K:17★"
 "Tropical Island" "LEA:283"
 "Tundra" "LEA:284"
 "Twinshot Sniper" "NEO:168"
 "Ugin, Eye of the Storms" "TDM:1"
 "Undercity Informer" "GTC:82"
 "Undercity Sewers" "MKM:270"
 "Underground Sea" "LEA:285"
 "Unearth" "ULG:72"
 "Unholy Heat" "MH2:145"
 "Unmask" "MMQ:168"
 "Untimely Malfunction" "DSK:161"
 "Up the Beanstalk" "WOE:195"
 "Urza's Bauble" "ICE:343"
 "Urza's Saga" "PMH2:259s"
 "Urza's Tower" "ATQ:85c"
 "Urza's Workshop" "BRC:28"
 "Veil of Summer" "M20:198"
 "Verdant Catacombs" "ZEN:229"
 "Voice of Victory" "TDM:33"
 "Volcanic Island" "LEB:287"
 "Voltaic Key" "USG:314"
 "Wasteland" "TMP:330"
 "Wastescape Battlemage" "MH3:17"
 "Wear/Tear" "DGM:135"
 "White Orchid Phantom" "MH3:47"
 "Wight of the Reliquary" "MH3:207"
 "Windswept Heath" "ONS:328"
 "Witch Enchanter" "MH3:239"
 "Wooded Foothills" "ONS:330"
 "Wrath of the Skies" "MH3:49"
 "Xander's Lounge" "PSNC:260p"
 "Yavimaya, Cradle of Growth" "PMH2:261s"
 "Yorion, Sky Nomad" "IKO:232"
}
